body {
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    background-color: #282c34;
    color: #282c34;
    margin: 15px 0;
    padding: 15px 0;
}

code {
    font-family: 'Courier New', monospace;
}

::-webkit-scrollbar {
    width: 0px;
}